.calendar {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.todayBttn {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: auto;
    font-size: 13px;
}
.todayBttn:hover {
    color: var(--red);
}
.todayBttn svg {
    margin-right: 3px;
}
.calendar .month-year {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.month-year p {
    width: 180px;
}

.calendar .date {
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.calendar .date:hover {
    background-color: var(--cream);
    color: var(--dark);
}

.days li {
    margin-bottom: 15px;
}

ul, ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.7em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
    border-radius: 20px;
    width: 35px;
    height: 35px;
}
.date.selected  {
    background-color: var(--gold);
    color: var(--dark);
}
.date.today  {
    background-color: var(--red);
    color: var(--dark);
}


ol li:nth-child(7n) {
    color: var(--red);
}
ol li:nth-child(7n-1) {
    color: var(--blue);
}


@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
    .calendar .month-year {
        font-size: 18px;
    }
    .clock h1 {
        font-size: 13px;
    }
    ul, ol {
        grid-gap: 0.3em;
    }
    .days li {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
