.calendar {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    border: 3px solid var(--color-border);
    border-radius: 15px;
    margin: 25px;
}

.calendar .todayBttn {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: auto;
    font-size: 13px;
}
.todayBttn:hover {
    color: var(--color-highlight);
}
.todayBttn svg {
    margin-right: 3px;
}
.calendar .month-year {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.calendar .month-year svg {
    cursor: pointer;
}
.month-year p {
    width: 180px;
}

.calendar .date {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border: 2px solid transparent;
}
.calendar .date:hover {
    background-color: var(--color-highlight);
    color: var(--color-background);
}

.calendar .date.selected  {
    background-color: var(--color-highlight);
    color: var(--color-backround);
}
.calendar .date.today  {
    background-color: var(--color-foreground);
    color: var(--color-background);
}
.calendar .date.list-yes {
    border: 2px solid var(--color-border);
}
.calendar .date.past {
    color: var(--color-date-past);
}

.calendar ul, ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.6em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
}
.calendar li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 2px;
    font-size: calc(12px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.calendar .day {
    font-size: calc(9px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}
.calendar ol li:nth-child(7n) {
    color: var(--color-date-sunday);
}
.calendar ol li:nth-child(7n-1) {
    color: var(--color-date-saturday);
}

.calendar button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color-foreground);
}

@media only screen and (max-width: 1200px) {
    .calendar {
        margin: 10px;
        margin-right: 0px;
    }
    ul, ol {
        grid-gap: 0.3em;
    }
    li {
        font-size: calc(13px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 900px) {
    .calendar {
        margin: 25px;
    }
    .calendar .month-year {
        font-size: 18px;
    }
    ul, ol {
        grid-gap: 0.3em;
    }
    li {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 600px) {
    .calendar {
        margin: 5px;
    }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
