.clock {
    margin: 20px;
    /*border: 3px solid var(--grey);*/
    border-radius: 15px;
}

.clock p {
    font-size: 17px;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .clock {
        margin: 10px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 900px) {
    .clock {
        margin: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .clock {
        padding: 5px;
    }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
