.todo-list-all {
    height: 59vh;
}
.todo-list-all .todo-by-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
}

.todo-list-all .pastTodoBttn {
    width: 180px;
    border: 2px solid var(--color-border);
    border-radius: 15px;
    padding: 13px;
    background-color: transparent;
    color: var(--color-foreground);
}
.todo-list-all .todo-by-date.past {
    opacity: 0.5;
}

.todo-list-all .todo-by-date.past.hidden {
    display: none;
}

/* delete all button style */
.todo-list-all .deleteAllBttn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 7vw;
    cursor: pointer;
    font-size: 11px;
}

.deleteAllBttn:hover {
    color: var(--color-highlight);
}
.deleteAllBttn svg {
    margin-left: 2px;
}

.todo-list-all h2 {
    font-size: 15px;
    border-bottom: 1px solid transparent;
}
.todo-list-all h2:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--color-foreground);
}
.todo-list p {
    color:var(--color-font-main);
}

/* todo list style specific to all list */
.todo-list-all .todo {
    padding: 6px;
    margin: 3px;
    border-radius: 8px;
    font-size: 16px;
}

.todo-list-all input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

.todo-list-all .todo .inputbox input {
    height: 18px;
    font-size: 16px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
