.todoForm {
    padding: 10px;
    border-radius: 10px;
}
.todoForm form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoForm input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
.todoForm button {
    float: right;
}