.todo-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 25px;
    border: 3px solid var(--grey);
    border-radius: 15px;
    height: 90vh;
}
.todo-box h1 {
    font-size: 20px;
    margin: 10px;
}
.todo-box .bttns {
    display: flex;
}
.todo-list-by-date {
    display: none;
}
.todo-list-by-date.active {
    display: unset;
}
.todo-list-list-all {
    display: none;
}
.todo-list-list-all.active {
    display: unset;
}

.selected-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-date p {
    font-size: 30px;
    color: var(--gold);
    width: 20vw;
}

@media only screen and (max-width: 1200px) {
    .todo-box {
        margin: 10px;
        margin-right: 0px;
    }
    .selected-date p {
        width: 30vw;
    }
}
@media only screen and (max-width: 900px) {
    .todo-box {
        margin: 10px;
    }
    .todo-box h1 {
        font-size: 25px;
    }
    .selected-date p {
        font-size: 18px;
        width: 40vw;
    }
}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}


