.todo-list-all {
    height: 59vh;
}
.todo-list-all .todo-by-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
}

.todo-list-all .pastTodoBttn {
    width: 180px;
    border: 2px solid var(--grey);
    border-radius: 15px;
    padding: 13px;
    background-color: transparent;
    color: var(--cream);
}
.todo-list-all .todo-by-date.past {
    opacity: 0.7;
}

.todo-list-all .todo-by-date.past.hidden {
    display: none;
}

.todo-list-all .deleteAllBttn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 7vw;
    cursor: pointer;
    font-size: 11px;
}

.deleteAllBttn:hover {
    color: var(--gold);
}
.deleteAllBttn svg {
    margin-left: 2px;
}

.todo-list-all h2 {
    font-size: 15px;
    border-bottom: 1px solid transparent;
}
.todo-list-all h2:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--cream);
}
.todo-list-all .todo {
    background-color: var(--grey);
    padding: 6px;
    margin: 3px;
    border-radius: 8px;
    font-size: 16px;
    width: 42vw;
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  accent-color: var(--grey);
}

.todo-list-all .todo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo .inputbox {
    text-align: left;
    padding-left: 5px;
}
.todo .inputbox input {
    border: none;
    width: 33vw;
    height: 18px;
    font-size: 16px;
    background-color: var(--cream);
}
.todo svg {
    padding-right: 5px;
    cursor: pointer;
}
.todo svg:hover {
    color: var(--gold);
}

.todo:has([type=checkbox]:checked) {
    text-decoration: line-through;
    color: grey;
}
.todo-list p {
    color:white;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 1200px) {
    .todo .inputbox input {
        width: 30vw;
    }
}

@media only screen and (max-width: 900px) {
    .todo-list-all .todo {
        font-size: 14px;
        width: 70vw;
        height: 22px;
    }
    .todo .inputbox input {
        width: 55vw;
    }

}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
