.todo {
    background-color: var(--grey);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.todo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo .inputbox {
    width: 200px;
    text-align: left;
}


.todo:has([type=checkbox]:checked) {
  text-decoration: line-through;
  color: grey;
}
