.todo-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 25px;
    border: 3px solid var(--grey);
    border-radius: 15px;
    height: 90vh;
}
.todo-box h1 {
    font-size: 20px;
}
.todo-box .bttns {
    display: flex;
    gap: 50px;
}
.todo-box .bttns button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bttns button svg {
    padding-right: 3px;
}
.todo-box .bttns button:hover {
    color: var(--gold);
}

.todo-box .selected-date {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-box .selected-date p {
    font-size: 23px;
    color: var(--gold);
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
}

@media only screen and (max-width: 1200px) {
    .todo-box {
        margin: 10px;
        margin-right: 0px;
    }
    .selected-date p {
        width: 30vw;
    }
}
@media only screen and (max-width: 900px) {
    .todo-box {
        margin: 10px;
    }
    .todo-box h1 {
        font-size: 25px;
    }
    .selected-date p {
        font-size: 18px;
        width: 40vw;
    }
}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}


