.todo-list-all {
    width: 60vw;
    height: 70vh;
    overflow: auto;
}
.todo-list-all .todo-by-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-list-all h2 {
    font-size: 16px;
}
.todo-list-all .todo {
    background-color: var(--grey);
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    font-size: 14px;
    width: 42vw;
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
  accent-color: var(--grey);
}

.todo-list-all .todo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo .inputbox {
    text-align: left;
    padding-left: 5px;
}
.todo .inputbox input {
    border: none;
    width: 33vw;
    height: 18px;
    font-size: 14px;
    background-color: var(--cream);
}
.todo svg {
    padding-right: 5px;
    cursor: pointer;
}
.todo svg:hover {
    color: var(--gold);
}

.todo:has([type=checkbox]:checked) {
    text-decoration: line-through;
    color: grey;
}
.todo-list p {
    color:white;
}

.deleteAllBttn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
}
.deleteAllBttn:hover {
    color: var(--gold);
}
.deleteAllBttn svg {
    margin-right: 5px;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 1200px) {
    .todo .inputbox input {
        width: 30vw;
    }
}

@media only screen and (max-width: 900px) {
    .todo-list  {
        width: 85vw;
    }
    .todo-list .todo {
        font-size: 14px;
        width: 78vw;
        height: 22px;
    }
    .todo .inputbox input {
        width: 55vw;
    }

}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
