.todo-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 25px;
    /*border: 3px solid var(--grey);*/
    /*border-radius: 15px;*/
    height: 90vh;
}
/* title */
.todo-box h1 {
    font-size: 20px;
}

/* buttons */

.todo-box .bttns {
    display: flex;
    align-items:end;
    gap: 10px;
}
.todo-box .bttns .bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid var(--grey);
    border-bottom: none;
    background-color: var(--color-foreground);
    color: var(--color-background);
    cursor: pointer;

}
.todo-box .bttns .bttn.active {
    background-color: rgba(31, 43, 57, 0.401);;
    color: var(--color-foreground);
    height: 40px;
}

.todo-box .bttns .bttn.inactive {
    border: none;
}
.todo-box .bttns button:hover {
    color: var(--gold);
}
.bttns button svg {
    padding-right: 3px;
}

/* contents */
.todo-box .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(31, 43, 57, 0.401);
    border: 3px solid var(--grey);
    border-radius: 15px;
    box-shadow: 3px 4px 5px 2px #000000;
}

/* selected date */
.todo-box .selected-date {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-box .selected-date p {
    font-size: 23px;
    color: var(--gold);
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
}
.todo-box .selected-date svg {
    cursor: pointer;
}
/* lists */
.todo-lists {
    width: 60vw;
    max-height: 60vh;
    overflow: auto;
}

@media only screen and (max-width: 1200px) {
    .todo-box {
        margin: 10px;
        margin-right: 0px;
    }
    .selected-date p {
        width: 30vw;
    }
}
@media only screen and (max-width: 900px) {
    .todo-box {
        margin: 10px;
    }
    .todo-box h1 {
        font-size: 25px;
    }
    .selected-date p {
        font-size: 18px;
        width: 40vw;
    }
    .todo-lists {
        width: 90vw;
    }
}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}


