.todoForm {
    border-radius: 10px;
    padding-bottom: 10px;
}
.todoForm form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoForm input {
    width: 39vw;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.todoForm button {
    float: right;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color-foreground);
}

@media only screen and (max-width: 900px) {
    .todoForm {
        border-radius: 10px;
        padding-bottom: 10px;
    }
    .todoForm input {
        font-size: 14px;
        width: 72vw;
        height: 30px;
    }
    .todoForm svg {
        width: 35px;
    }
}
@media only screen and (max-width: 600px) {
    .todoForm input {
        width: 65vw;
        height: 28px;
    }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
