.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 59vh;
}

/* delete all button */
.deleteAllBttn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
}

.deleteAllBttn:hover {
    color: var(--color-highlight);
}
.deleteAllBttn svg {
    margin-right: 5px;
}

/* empty comment */ 
.emptyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
    opacity: 0.5;
}
.emptyList svg {
    margin-right: 5px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}