.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border: 3px solid var(--grey);
    border-radius: 15px;
    padding: 15px;
    margin: 30px;
}
.weather h2 {
    text-align: center;
    font-size: 18px;
    height: 25px;
    width: 110px;
}
.weather p {
    font-size: 12px;
}

.weather .city-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.weather .searchForm {
    position: relative;
}
.weather .searchForm .searchResult {
    position: absolute;
    top: 35px;
    left: 0px;
    color: var(--dark);
    font-size: 13px;
    background-color: var(--cream);
}
.weather .searchForm .citySearchResultList {
    display: block;
    color: var(--dark);
}
.weather .searchForm ul {
    margin: 6px;
    padding: 0px;
    max-width: 150px;
}
.weather .searchForm li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    text-align: left;
    list-style: none;
    margin-bottom: 8px;
    font-size: 12px;
    width: auto;
    cursor: pointer;
    padding: 2px; 
}

.weather .searchForm li:hover {
    background-color: var(--gold);
}
.weather .city-info input {
    text-align: center;
    background-color: var(--grey);
    color: var(--ceram);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 25px;
    width: 110px;
}
.weather button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--cream);
}

@media only screen and (max-width: 1200px) {
    .weather {
        margin: 10px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 900px) {
    .weather {
        margin: 10px;
    }
}