.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    /*border: 3px solid var(--grey);*/
    border-radius: 15px;
    padding: 5px;
    margin: 30px;
}
.weather h2 {
    text-align: center;
    font-size: 18px;
    height: 25px;
}
.weather h3 {
    font-size: 15px;
}
.weather p {
    font-size: 13px;
}

.weather .weatherIcon {
    max-width: 170px;
}
.weather .search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
}
.weather .search svg {
    margin-left: 5px;
}
.weather .searchForm {
    position: relative;
}
.weather .searchForm .searchResult {
    position: absolute;
    top: 35px;
    left: 0px;
    color: var(--color-background);
    font-size: 13px;
    background-color: var(--color-foreground);
}
.weather .searchForm .citySearchResultList {
    display: block;
    color: var(--color-background);
}
.weather .searchForm ul {
    margin: 6px;
    padding: 0px;
    max-width: 160px;
}
.weather .searchForm li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    text-align: left;
    list-style: none;
    margin-bottom: 8px;
    font-size: 12px;
    width: auto;
    cursor: pointer;
    padding: 2px; 
}

.weather .searchForm li:hover {
    background-color: var(--gold);
}
.weather .weather-title input {
    text-align: center;
    background-color: var(--grey);
    color: var(--ceram);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 25px;
    max-width: 110px;
}
.weather button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color-foreground);
}


@media only screen and (max-width: 1200px) {
    .weather {
        margin: 10px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 900px) {
    .weather {
        margin: 10px;
    }
}