.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border: 3px solid var(--grey);
    border-radius: 15px;
    padding: 15px;
    margin: 30px;
}
.weather h2 {
    font-size: 18px;
    width:  130PX;
    height: 20px;
}
.weather p {
    font-size: 12px;
}

.city-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}

.city-info input {
    text-align: center;
    background-color: var(--grey);
    color: var(--ceram);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 30px;
    width: 130px;
}